body {
	display: flex;
	margin: auto;
	background: no-repeat url('background.jpg');
  	background-position: center; 
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	font-family: Arial, Helvetica, sans-serif;
}

/*.divider {
  border-bottom: 1px solid orange;
}*/

#navbar {
	/*
	border-color: black;
	border: 2px;
	border-style: solid;
	*/
	flex-direction: row;
	position: fixed;
	margin-top: 10px;
	right: 10px;
	/*
	background-color: rgb(237, 237, 237, .7) ;
	transition: all 0.5s ease-in-out; */

}
/*
#navbar:hover {
	background-color: rgb(140, 140, 140, .7);
	transition: all 0.5s ease-in-out;

}

#navbar a:hover {
	color: white;
}
*/
#button {
	background-color: #8c8c8c;
	padding: 15px;
	transition: all 0.5s ease-in-out;
}

#coordonnees {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #EDEDED;
	margin: 15px;
	padding: 5px;
	text-align: center;
/*	border: 2px;
	border-style: solid;
	border-color: red;*/
	transition: all 0.5s ease-in-out;
}


#coordonnees:hover {
	background-color: #8c8c8c;
	color: white;
}

a {
	text-decoration: none;
	color: black;
	transition: color 0.5s ease-in-out;
}

a:hover {
	text-decoration: none;
	color: white;
}

#formation {
/*	border: 2px;
	border-style: solid;
	border-color: green;*/
	transition: all 0.5s ease-in-out;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

#formation p {
	display: flex;
	align-items: center;
	margin: 30px;
}

#formation strong {
	display: flex;
	align-items: center;
	margin: 30px;
	/*margin-left: auto;*/
	margin-right: auto;
}

#infform,
#infxp,
#infcomp {
	display: flex;
	background-color: #EDEDED;
	margin: 15px;
	font-size: 16px;
	border: 2px;
	border-style: solid;
	border-color: black;
	margin-right: 20%;
	text-transform: uppercase;
	/*	padding-left: 20%;*/
	transition: all 0.5s ease-in-out;
}

#infform:hover,
#infxp:hover,
#infcomp:hover {
	background-color: #8c8c8c;
	color: white;
}

.textform {
	margin-right: 25%;
}

.titrestrong {
	padding-left: 50%;
	text-transform: uppercase;
}

hr {
	margin-left: 25%;
}


	/* LE DARK MODE */

.dark-mode #formation {
	background-color: #2b2b2b;
	color: white;
}

.dark-mode #infform, .dark-mode #infxp, .dark-mode #infcomp {
	background-color: #8c8c8c;

}

.dark-mode #coordonnees {
	background-color: #8c8c8c;
	color: white;
}

.dark-mode #navbar {
	background-color: rgb(140, 140, 140, .7);
	transition: all 0.5s ease-in-out;
}

.dark-mode #navbar a {
	color: white;
}

.dark-mode #navbar a:hover {
	color: black;
}


.dark-mode #button {
	background-color: #EDEDED;
	transition: all 0.5s ease-in-out;
}

/* REPONSIVE */

@media screen and (max-width: 1024px)
{

	body {
		display: block;
	  	background-repeat: repeat;
	}

	#coordonnees {
		font-size: 2em;

	}

	#formation {
		display: block;
		font-size: 2em;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#button {
		font-size: 2em;
	}

	#infform,
	#infxp,
	#infcomp {
		font-size: 2em;
		margin-right: 0%;
	}

	#infform strong,
	#infxp strong,
	#infcomp strong {
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}

	.textform {

	}

}